/* Stylesheet */

/* Base */

body {
    background-color: #014E86 !important;
    /* Use !important to override Bootstrap's styles */
    color: #ffffff !important;

}

header {
    background-color: #ffffff;
}

.navbar {
    margin-top: 0;
}

.navbar-brand {
    font-size: 24px !important;
    font-weight: bold;
    color: #014E86 !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FAFB63' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.nav-item {
    display: flex;
    gap: 20px;
}

.nav-item a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #014E86;
}

.nav-item a:hover {
    background-color: #014E86;
}

.flash-message {
    margin-top: 5px;
}


/* Landing Page */

.welcome-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ffffff !important;
    font-family: 'Quantico' , sans-serif ;
    font-weight: 700 ;
    font-style: italic ;
}

.login-register {
    margin-top: 10px;
}

.login-register a {
    color: #000000;
    background-color: #FFA500;
    text-decoration: none;
    margin: 10px;
    padding: 10px 20px;
    /* Adjust padding for better size */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    transition: all 0.3s ease;
    /* Smooth transition */
    border: 2px solid transparent;
    /* Add border */
}

.login-register a:hover {
    text-decoration: underline;
    background-color: #FFA500;
    /* Lighter yellow on hover */
    border-color: #000000;
    /* Black border on hover */
}

/* Register Page */

.btn-custom-color {
    background-color: #FFA500 !important;
    border-color: #737373 !important;
    font-family: monospace !important;
}

.btn-custom-color:hover {
    background-color: #FFA500 !important;
    border-color: #737373 !important;
}

.card {
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    /* Smooth transition for transform and box-shadow */
}

.card:hover {
    transform: translateY(-10px);
    /* Makes the card move up slightly */
    box-shadow: 0px 4px 20px #6BFFF7;
    /* Creates a 'glow' effect */
}

.card h1 {
    color: #000000 !important;
    font-weight: bolder !important;
}


/* User Dashboard Page */

.background {
    background-image: ;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    min-height: calc(100vh - 50px);
}

.dashboard-header h1 {
    color: #000000 !important;
    font-family: monospace !important;
    font-weight: bolder;
    font-style: italic;
}

.highlighted {
    background-color: #ffffff !important;
    padding: 0 10px;
    display: inline-block;
    /* Makes the div only as wide as its content */
}

.dashboard {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}

.dashboard-section {
    width: 30%;
    /* Set a fixed percentage width for each section */
}

.title-word {
    display: block;
    text-align: right;
}

.section-content {
    text-align: right;
    font-size: large;
}

h2 {
    font-family: monospace;
    font-weight: bold !important;
    color: #ffffff !important;
    font-style: italic;
    margin: 0 !important;
}

#section1 {
    margin-top: 0;
    /* First box at the top */
}

#section2 {
    margin-top: 80px;
    /* Second box slightly lower */
}

#section3 {
    margin-top: 180px;
    /* Third box even lower */
}

/* Payment Subscription Page */

.payment-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.payment-page #payment-form {
    margin-top: 30px;
    text-align: center;
    width: 70%;
    max-width: 400px;
    /* Maximum width for better readability on larger screens */
    padding: 20px;
    /* Add some padding for better spacing */
}

.payment-page h1 {
    color: #FFA500 !important;
    font-family: monospace;
}

.payment-page label {
    color: #ffffff;
    text-align: left;
    /* Align labels to the left */
    display: block;
    /* Ensure labels are displayed as blocks for proper alignment */
}

.payment-page input[type="email"],
.payment-page input[type="text"],
.payment-page select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddcdc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.payment-page select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddcdc;
    margin-bottom: 10px;
}

.payment-page button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #FFA500;
    color: #141414;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.payment-page button:hover {
    background-color: #FFA500;
}

.payment-page #card-element {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddcdc;
    margin-bottom: 10px;
}

.payment-page #card-errors {
    color: #FF0000;
    margin-top: 10px;
    text-align: left;
}

/* Membership page */
.membership-plans {
    margin-top: 3vh;
    /* Adjust as needed */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Added */
}

.membership-plans h1 {
    color: #014E86 !important;
    font-family: monospace;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}

.membership-plans .plan {
    display: flex;
    flex-wrap: wrap;
    /* Allow options to wrap to next line */
    justify-content: center;
    margin-top: 20px;
}

.membership-plans .plan-option {
    width: calc(33% - 20px);
    /* Adjusted width for smaller screens with margins */
    max-width: 300px;
    /* Added max-width to prevent options from stretching too much */
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    /* Adjusted */
    box-sizing: border-box;
    /* Include padding and border in width calculation */
}

.membership-plans .plan-option h2,
.membership-plans .plan-option p {
    color: #000000 !important;
    /* Changed color to black */
    font-family: monospace;
    font-size: 20px;
}

.membership-plans .plan-option form {
    margin-top: 20px;
}

.membership-plans .plan-option button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #FFA500;
    color: #141414;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.membership-plans .plan-option button:hover {
    background-color: #FFA500;
}

.plan-card-title{
    white-space: nowrap;
    overflow: visible;
}

.py-7{
    margin-top: 15vh;
}

/* Adjustments for Smaller Screens */
@media (max-width: 768px) {
    .membership-plans .plan-option {
        width: calc(50% - 20px);
        /* Adjusted width for smaller screens with margins */
    }
}

@media (max-width: 576px) {
    .membership-plans .plan-option {
        width: calc(100% - 20px);
        /* Adjusted width for even smaller screens with margins */
    }
}


/* Subscription Success Page */
.subscription-success {
    text-align: center;
    margin-top: 20vh;
}

.subscription-success h1 {
    color: #ffffff;
    font-family: monospace;
    font-size: 32px;
}

.subscription-success p {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-top: 10px;
}

/* Change plan */

.confirm-plan-change {
    text-align: center;
    margin-top: 20vh;
    color: #ffffff;
}

.confirm-plan-change h1 {
    color: #ffffff !important;
    font-family: monospace;
    font-size: 32px;
}

.confirm-plan-change p {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.confirm-plan-change form {
    margin-top: 20px;
}

.confirm-plan-change button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #FFA500;
    color: #141414;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    margin-right: 10px;
    /* Change margin between buttons */
}

.confirm-plan-change button:last-child {
    margin-right: 20px;
    /* Increase margin between buttons */
}

.confirm-plan-change button:hover {
    background-color: #FFA500;
}

html {
    scroll-behavior: smooth;
}

.profile img {
    width: 14vw;
    max-width: 130px;
    min-width: 70px;
}

.py-6 {
    padding-bottom: 3rem !important;
}

.profile {
    margin: 0 auto;
    /* Center the card in the column */
    padding: 1rem;
    /* Add some spacing inside the card */
}

.img-fluid {
    max-width: 54vw;
    width: 183px;
}

#visionSection,
#subsPlanSection {
    background-color: #3d3d3d;
}

.vision-box,
.mission-box {
    border: 2px dashed #014E86;
    /* Creates the dashed border effect */
    color: #fff;
    /* Text color */
    margin: 1rem 0;
    padding: 2rem;
}

.vision-box h2,
.mission-box h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.border-box {
    border: 3px solid #fff;
    /* Solid border inside */
    padding: 1rem;
    text-align: justify;
}

/* map page */

.map-card {
    margin: 20px auto;
    border-radius: 10px;
    background-color: #22463a;
}

.map-card-header {
    padding: 20px;
    background-color: #142922;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.map-card-title {
    color: #FFA500;
    font-family: monospace;
    margin-bottom: 0;
}

.map-card-body {
    padding: 20px;
}

.map-container form {
    margin-top: 20px;
}

.map-container input[type="file"] {
    margin-bottom: 10px;
}

.map-container input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #6BFFF7;
    color: #141414;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.map-container input[type="submit"]:hover {
    background-color: #9bf9f5;
}

.map-page .flashes {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.map-page .flashes li {
    color: #ffffff;
    background-color: #FF0000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* Media Queries */

@media (max-width: 768px) {
    .welcome-section {
        width: 80%;
        /* Adjusted width for smaller screens */
    }

    .dashboard-section {
        width: 70%;
        /* Adjusted width for smaller screens */
    }

    .subscription-success {
        width: 80%;
        /* Adjusted width for smaller screens */
    }

    .confirm-plan-change {
        width: 80%;
        /* Adjusted width for smaller screens */
    }

    .map-page {
        width: 80%;
        /* Adjusted width for smaller screens */
    }
}

@media (max-width: 576px) {
    .welcome-section {
        width: 90%;
        /* Further adjusted width for even smaller screens */
    }

    .dashboard-section {
        width: 80%;
        /* Further adjusted width for even smaller screens */
    }

    .subscription-success {
        width: 90%;
        /* Further adjusted width for even smaller screens */
    }

    .confirm-plan-change {
        width: 90%;
        /* Further adjusted width for even smaller screens */
    }

    .map-page {
        width: 90%;
        /* Further adjusted width for even smaller screens */
    }
}

@media (max-width: 400px) {
    .welcome-section {
        width: 95%;
        /* Adjusted width for smallest screens */
    }

    .dashboard-section {
        width: 90%;
        /* Adjusted width for smallest screens */
    }

    .subscription-success {
        width: 95%;
        /* Adjusted width for smallest screens */
    }

    .confirm-plan-change {
        width: 95%;
        /* Adjusted width for smallest screens */
    }

    .map-page {
        width: 95%;
        /* Adjusted width for smallest screens */
    }
}