/* Stylesheet */

/* Base */

body {
    background-color: #141414 !important;
    /* Use !important to override Bootstrap's styles */
    color: #ffffff !important;

}

header {
    background-color: #142922;
}

.navbar {
    margin-top: 0;
}

.navbar-brand {
    font-size: 24px !important;
    font-weight: bold;
    color: #FAFB63 !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FAFB63' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.nav-item {
    display: flex;
    gap: 20px;
}

.nav-item a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #FAFB63;
}

.nav-item a:hover {
    background-color: #22463a;
}

.flash-message {
    margin-top: 5px;
}


/* Landing Page */

.welcome-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #FAFB63 !important;
    font-family: monospace;
}

.login-register {
    margin-top: 10px;
}

.login-register a {
    color: #000000;
    background-color: #FAFB63;
    text-decoration: none;
    margin: 10px;
    padding: 10px 20px;
    /* Adjust padding for better size */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    transition: all 0.3s ease;
    /* Smooth transition */
    border: 2px solid transparent;
    /* Add border */
}

.login-register a:hover {
    text-decoration: underline;
    background-color: #FFD700;
    /* Lighter yellow on hover */
    border-color: #000000;
    /* Black border on hover */
}


/* Register Page */

.btn-custom-color {
    background-color: #6BFFF7 !important;
    border-color: #dddcdc !important;
    font-family: monospace !important;
}

.btn-custom-color:hover {
    background-color: #9bf9f5 !important;
    border-color: #dddcdc !important;
}

.card {
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    /* Smooth transition for transform and box-shadow */
}

.card:hover {
    transform: translateY(-10px);
    /* Makes the card move up slightly */
    box-shadow: 0px 4px 20px #6BFFF7;
    /* Creates a 'glow' effect */
}

.card h1 {
    color: #000000 !important;
    font-weight: bolder !important;
}


/* User Dashboard Page */

.background {
    background-image: url('/static/wave.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% auto;
    min-height: calc(100vh - 50px);
}

.dashboard-header h1 {
    color: #000000 !important;
    font-family: monospace !important;
    font-weight: bolder;
    font-style: italic;
}

.highlighted {
    background-color: #FAFB63 !important;
    padding: 0 10px;
    display: inline-block;
    /* Makes the div only as wide as its content */
}

.dashboard {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}

.dashboard-section {
    width: 30%;
    /* Set a fixed percentage width for each section */
}

.title-word {
    display: block;
    text-align: right;
}

.section-content {
    text-align: right;
    font-size: large;
}

h2 {
    font-family: monospace;
    font-weight: bold !important;
    color: #FAFB63 !important;
    font-style: italic;
    margin: 0 !important;
}

#section1 {
    margin-top: 0;
    /* First box at the top */
}

#section2 {
    margin-top: 80px;
    /* Second box slightly lower */
}

#section3 {
    margin-top: 180px;
    /* Third box even lower */
}

/* Tablet and smaller */
@media (max-width: 968px) {
    .dashboard {
        flex-direction: column;
        /* Stack sections vertically */
        align-items: center;
        /* Center-align the items */
    }

    .dashboard-section {
        width: 80%;
        margin-top: 10px;
    }

    .title-word,
    .section-content {
        text-align: center;
        /* Center-align text for smaller screens */
    }

    .background {
        background-size: cover;
        background-position: bottom center;
        min-height: calc(100vh - 50px);
    }

    #section3 {
        margin-top: 80px;
    }
}

/* Mobile phones */
@media (max-width: 542px) {
    .dashboard-section {
        width: 90%;
    }

    .background {
        background-position: bottom center;
        background-size: auto auto;
        min-height: calc(100vh - 50px);
    }
}

/* Phones with smaller screens like iPhone SE */
@media (max-width: 376px) {
    .background {
        background-image: none;
        /* This will remove the background image */
    }
}

/* Payment Subscription Page */

.payment-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.payment-page #payment-form {
    margin-top: 30px;
    text-align: center;
    width: 70%;
    max-width: 400px; /* Maximum width for better readability on larger screens */
    padding: 20px; /* Add some padding for better spacing */
}

.payment-page h1 {
    color: #FAFB63 !important;
    font-family: monospace;
}

.payment-page label {
    color: #ffffff;
    text-align: left; /* Align labels to the left */
    display: block; /* Ensure labels are displayed as blocks for proper alignment */
}

.payment-page input[type="email"],
.payment-page input[type="text"],
.payment-page select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddcdc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.payment-page select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddcdc;
    margin-bottom: 10px;
}

.payment-page button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #6BFFF7;
    color: #141414;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.payment-page button:hover {
    background-color: #9bf9f5;
}

.payment-page #card-element {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dddcdc;
    margin-bottom: 10px;
}

.payment-page #card-errors {
    color: #FF0000;
    margin-top: 10px;
    text-align: left;
}

@media (max-width: 542px) {
    .payment-page input[type="email"],
    .payment-page input[type="text"],
    .payment-page select {
        width: 100%;
    }
}
