{% extends 'base.html' %}

{% block title %}Confirm Plan Change{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h1 class="mb-4">Confirm Plan Change</h1>
        <div class="card confirm-plan-change mx-auto" style="max-width: 500px;">
            <div class="card-body">
                <p class="card-text">Are you sure you want to cancel your current plan and change to a new one?</p>
                <div class="button-container">
                    <form action="{{ url_for('main.change_plan') }}" method="post">
                        <input type="hidden" name="new_plan" value="{{ plan }}">
                        <input type="hidden" name="current_plan" value="{{ current_plan }}">
                        <button type="submit" name="confirm" value="yes" class="btn btn-primary mr-2">Yes</button>
                    </form>    
                    <form action="{{ url_for('main.membership') }}">
                        <button type="submit" class="btn btn-secondary">No</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
