{% extends 'base.html' %}

{% block title %}Dashboard - My Flask App{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <div class="logo">Logo</div>
        <div class="nav-buttons">
            <a href="{{ url_for('main.subscription') }}#">Membership Plan</a>
        </div>
    </header>

    <div class="welcome-section">
        <h1>My Dashboard</h1>
        <p id="homepage-text"></p>
        <div class="login-register">
            <a href="{{ url_for('main.logout') }}">Logout</a>
        </div>
    </div>

</body>

</html>

{% endblock %}