{% extends 'base.html' %}

{% block title %}Record Track{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <!-- Google Font Quantico -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<div class="background">
<body>
    <nav class="custom-nav">
        <ul>
            <li><a href="/map_record" class="custom-nav-link">Record</a></li>
            <!-- Add other navigation items here -->
        </ul>
    </nav>

    <div class="custom-map-container">
        <!-- Apply font style to the Distance text -->
        <span class="custom-distance font-bold-italic">Distance: {{ distances }}</span>
        <div class="custom-map">
            {{ map_html_content | safe }}
        </div>
    </div>
</body>
</div>

</html>
{% endblock %}
