{% extends 'base.html' %}

{% block title %}Membership Plans - My Flask App{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership Plans - My Flask App</title>
</head>

<body>
    <header>
        {% include 'navbar.html' %}
    </header>

    <div class="membership-plans py-7">
        <h1>Membership Plan</h1>
        <p>Current Plan: {{ current_plan|capitalize if current_plan else "None" }}</p>
        {% if current_plan %}
        <p>Renewal Date: {{ renewal_date.strftime('%Y-%m-%d') if renewal_date else "N/A" }}</p>
        {% endif %}
        <div class="plan">
            {% set plan_options = ['Weekly', 'Monthly', 'Yearly'] %}
            {% for plan_option in plan_options %}
            <div class="card plan-option">
                <div class="card-body">
                    <h2 class="card-title">{{ plan_option|capitalize }}</h2>
                    <p class="card-text">£{{ "3" if plan_option == 'Weekly' else "10" if plan_option == 'Monthly' else
                        "100" }}</p>
                    {% if current_plan == plan_option %}
                    <form action="{{ url_for('main.cancel_plan') }}" method="post">
                        <input type="hidden" name="plan" value="{{ plan_option }}">
                        <button type="submit" class="btn btn-danger">Cancel</button>
                    </form>
                    {% else %}
                    {% if not current_plan %}
                    <form action="/subscription" method="get">
                        <input type="hidden" name="plan" value="{{ plan_option }}">
                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </form>
                    {% else %}
                    <form action="{{ url_for('main.confirm_change_plan') }}" method="post">
                        <input type="hidden" name="new_plan" value="{{ plan_option }}">
                        <input type="hidden" name="current_plan" value="{{ current_plan }}">
                        <button type="submit" class="btn btn-success">Change</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>

{% endblock %}