{% extends 'base.html' %}

{% block title %}Multiple Routes Map{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <style>
        #map {
            width: 80%;
            height: 80vh;
            margin: auto;
            margin-top: 50px;
        }
    </style>
</head>

<body>

    <header>
        {% include 'navbar.html' %}
    </header>

    <div id="map">
        {{ multiple_route_map_html_content | safe }}
    </div>
</body>

</html>
{% endblock %}