{% extends 'base.html' %}

{% block title %}Multiple Routes Map{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <style>
        #map-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }

        #map {
            width: 70%;
            margin-top: 130px;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-custom navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand-custom" href="{{ url_for('main.dashboard') }}">
                    <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo" class="logo"
                        style="max-width: 4vw;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdownCustom" aria-controls="navbarNavDropdownCustom"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdownCustom">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.records') }}">Map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.friends') }}">Friends</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.membership') }}">Membership Plan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.logout') }}">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="background">

        <div id="map-container">
            <div id="map">
                {{ multiple_route_map_html_content | safe }}
            </div>
        </div>
</body>
</div>

</html>
{% endblock %}