{% extends 'base.html' %}

{% block title %}Register - My App{% endblock %}

{% block content %}
<div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="card w-100" style="max-width: 400px; border-radius: 15px;">
        <div class="card-body">
            <h1 class="text-center mb-3">Register.</h1>
            <form method="POST" action="{{ url_for('main.register') }}">
                {{ form.hidden_tag() }}
                <div class="form-group mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", size=20) }}
                </div>
                <div class="form-group mb-3">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control", size=20) }}
                </div>
                <div class="form-group mb-1">
                    {{ form.password.label(class="form-label") }}
                    <i class="bi bi-info-circle" data-bs-toggle="tooltip" data-bs-placement="right"
                        title="Password must be at least 8 characters long, include an uppercase letter, a lowercase letter, and a number."></i>
                    {{ form.password(class="form-control", size=20) }}
                </div>
                <div class="form-group mb-3">
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password(class="form-control", size=20) }}
                    {% for error in form.confirm_password.errors %}
                    <!-- red error under-->
                    <span style = "color: red;">{{error}} </span>
                    {% endfor %}
                </div>
                Already signed up? <a href="{{ url_for('main.login') }}">Log In</a>
                <div class="form-group mt-4">
                    {{ form.submit(class="btn btn-custom-color w-100") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}